[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com.cnpmjs.org/google/googletest
[submodule "cpuinfo"]
	path = third_party/cpuinfo
	url = https://github.com.cnpmjs.org/pytorch/cpuinfo
